@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Lugrasimo&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import './scss/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  // border-radius: 5px;
  filter: brightness(0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}