.mainContainer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20;
}
.signUpBox {
    padding: 20px;
    background: #f8f8f8 !important;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 14px;
    // margin: 30;
}
.signUpForm{
    width: 100%; 
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.agree{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.customThumbColor {
    color: green; 
}
.imageBox{
    width: 100vh;
    height: 100vh;
    overflow: hidden;
}
.signInImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 768px) {
    .imageBox{
        display: none;
    }
    .signInBox{
        height:100vh;
        width: 100vw;
    }
}