.mainContainer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20;
}
.signInBox {
    padding: 20px;
    background: #f8f8f8 !important;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 14px;
    margin: 30;
}
.signInForm{
    width: 100%; 
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.rememberMe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.signUp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imageBox{
    background-image: url();
    background-size: cover;
}
@media (max-width: 768px) {
    .imageBox{
        display: none;
    }
    .signInBox{
        height:100vh;
        width: 100vw;
    }
}