@import "variables";
@import "mixins";

.page-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: $dark;

    @include respond-to(sm) {
        font-size: 2.5rem;
    }

    @include respond-to(md) {
        font-size: 3rem;
    }

    @include respond-to(lg) {
        font-size: 3.5rem;
    }

    @include respond-to(xl) {
        font-size: 4rem;
    }
}