@import "variables";
@import "mixins";

.link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.flex-row-between {
    @extend .flex-row;
    justify-content: space-between;
}

.flex-row-between-center {
    @extend .flex-row-between;
    align-items: center;
}

.flex-row-between-end {
    @extend .flex-row-between;
    align-items: flex-end;
}

.flex-row-wrap {
    @extend .flex-row;
    flex-wrap: wrap;
}


.flex-col {
    display: flex;
    flex-direction: column;
}

$i: 1;

@for $i from 1 through 40 {
    .flex-gap-#{$i} {
        gap: #{$i * 2}px;
    }
}