$white: #fff;
$black: #000;
$gray: #ababab;

$light: #f5f5f5;
$dark: #171925;

$primary: #043aa7;
$primary-light: #2363e2;
$primary-contrast: #d4eefb;
$secondary: #eb455f;
$secondary-light: #f9a3a4;
$secondary-contrast: #fcffe7;

$success: #31aa67;
$success-light: #5bbb87;